{% include 'googleAuth/navbar.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load socialaccount %}
{% load static %}

<script src="https://kit.fontawesome.com/8c1592e798.js" crossorigin="anonymous"></script>

<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form method="post" action="{% url 'login' %}"> 
          {% csrf_token %}
          <!-- Username input -->
          <div class="form-outline mb-4">
            <input type="text" name="username" id="form1Example13" class="form-control form-control-lg" autocomplete="username" required/>
            <label class="form-label" for="form1Example13">Username</label>
          </div>
        
          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" name="password" id="form1Example23" class="form-control form-control-lg" autocomplete="new-password" required/>
            <label class="form-label" for="form1Example23">Password</label>
          </div>
        
          {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
          {% endif %}
        
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
        </form>
        <div class="divider d-flex align-items-center my-4">
          <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
        </div>
        <a href="{% provider_login_url 'google' %}?next=/"
          class="btn btn-primary btn-lg btn-block"
          style="background-color: #32ba6d"
          role="button">
              <i class="fab fa-google me-2"></i>Continue with Google</a>
      </div>
    </div>
  </div>
</section>
