{% load static %}
{% include 'googleAuth/navbar.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ file_name }}</title>
  <link rel="stylesheet" href="{% static 'css/report.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

  <link rel="stylesheet" href="{% static 'css/fileview.css' %}">

</head>
<body>
  <div class="report-container">
    <h1>{{ file_name }}</h1>

    <form id="submissionForm" action="{% url 'submitted_report' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="drag-image">
        <a href="{{ file_url }}" target="_blank" class="view-file-button">
            <i class="fas fa-file"></i> View File
        </a>        
        <span id="fileNames"></span>
      </div>
      <textarea name="text" id="textInput" rows="4" placeholder="Provide Comments"></textarea>
      <button type="button" onclick="submitForm()">Resolve File</button>
    </form>

  </div>
  <script>
  </script>
</body>
</html>
