{% load static %} 
{% include 'googleAuth/navbar.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HoosReport</title>

  <link rel="stylesheet" href="{% static 'css/home.css' %}">

</head>
<body>
  {% if show_warning %}
    <script>
      window.onload = function () {
        alert(
          "This is a CS3240 project. Your reports will not receive any reponse or action."
        );
      };
    </script>
    {% endif %}
  <div class="main-section">
    <h1>HoosReport</h1>
    <a href="{% url 'submit_report' %}" class="btn btn-primary">Submit Report</a>

  </div>
</body>
</html>
