{% load static %}
{% load django_bootstrap5 %} 
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}"> 
{% bootstrap_javascript %}

{% if user.is_authenticated %}
<nav>
  <div class="d-flex mt-2">
    <div class="d-flex ms-2 mt-10">
      <a href="/" class="btn btn-primary">Home</a>
    </div>
    {% if user.is_superuser %}
    <div class="d-flex ms-2 mt-10">
      <a href="/uploads" class="btn btn-primary">View Files</a>
    </div>
    {% endif %}
    <div class="d-flex align-items-center ms-auto">
      <span class="me-2 text-white fw-bold">Hello, {{ user.username }}!</span>
      {% if user.is_superuser %}
        <span class="badge bg-success me-2 fw-bold">Admin</span>
      {% else %}
        <span class="badge bg-info me-2 fw-bold">User</span>
      {% endif %}

      <a href="/logout" class="btn btn-primary">Logout</a>
    </div>
  </div>
</nav>
{% else %}
<nav>
  <div class="d-flex mt-2">
    <div class="d-flex ms-2 mt-10">
      <a href="/" class="btn btn-primary">Home</a>
    </div>
    <div class="d-flex ms-2 mt-10">
      <a href="/signup" class="btn btn-primary">Sign Up</a>
    </div>
    <div class="d-flex ms-auto me-2">
      <a href="/login" class="btn btn-primary">Login</a>
    </div>
  </div>
</nav>
{% endif %}
