{% load static %}
{% include 'googleAuth/navbar.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Report Submission</title>
  <link rel="stylesheet" href="{% static 'css/report.css' %}">
</head>
<body>
  <div class="drag-image">
    <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
    <h6>Drag & Drop File Here</h6>
    <span>OR</span>
    <button>Browse File</button>
    <input type="file" hidden>
  </div>
  <script src="{% static 'js/report.js' %}"></script>
</body>
</html>