{% include 'googleAuth/navbar.html' %} {% load django_bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %} {% load socialaccount %}
{% include 'googleAuth/footer.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HoosReport Google Signed Out</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <style>
      body{
        background-color: #62757B !important;
        color: white; /* Default text color for the whole page */
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }

      .btn-primary {
        background-color: #505050;
        border-color:#505050;
      }

      .btn-primary:hover{
        background-color:#696969;
        border-color:#696969;
      }

    </style>
  </head>
  <body>
    <div
      class="d-flex justify-content-center align-items-center"
      style="min-height: 90vh"
    >
      <div class="text-center">
        <div class="fs-1 mb-3">You have been signed out</div>
        <a
          href="/"
          class="btn btn-primary"
          >Home</a
        >
      </div>
    </div>
  </body>
</html>
