{% load static %}
{% include 'googleAuth/navbar.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% include 'googleAuth/footer.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Files</title>
    <link rel="stylesheet" href="{% static 'css/upload.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/view_submissions.css' %}">
    
</head>
<body>

<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% bootstrap_javascript %}
    <div class="container">
        <h1 class="mb-4 text-center" style = "color: white;">Your Submissions</h1>
        <div class="card">
            <ul class="list-group list-group-flush">
                <!-- Column headers -->
                <li class="list-group-item">
                    <div class="row">
                        <div class="col"><b>File Name</b></div>
                        <div class="col"><b>Status</b></div>
                        <div class="col"><b>User ID</b></div>
                        <div class="col"><b>Username</b></div>
                        <div class="col"><b>View Report</b></div>
                    </div>
                </li>

                <!-- File data -->
                {% for submission_id, submission_files in files.items %}
                <li class="list-group-item">
                    <!-- <div class="row">
                        <div class="col-12 mb-3"><b>Submission ID: {{ submission_id }}</b></div>
                    </div> -->
                    {% for file in submission_files %}
                    <div class="row">
                        <div class="col">{{ file.name }}</div>
                        <div class="col">{{ file.status }}</div>
                        <div class="col">{{ file.user_id }}</div>
                        <div class="col">{{ file.username }}</div>
                        <div class="col">
                            <a href="{% url 'fileview' file.name %}" class="btn btn-primary btn-sm" style = "background-color: #505050; border-color: #505050;">View Report</a>
                        </div>
                    </div>
                    {% endfor %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>
