body {
  margin: 0;
  padding: 0;
  background-color: #2a69a8;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden; /* Prevents scrollbars */
}

video.background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
}

.content-box {
  padding: 40px; /* Increased padding */
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
  border-radius: 15px; /* Slightly more rounded corners for a larger box */
  display: inline-block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

.main-section {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-section h1 {
  font-size: 4rem; /* Increased font size */
  font-weight: bold;
  margin-bottom: 30px; /* Increased space below the heading */
}

.submit-report-button {
  padding: 15px 30px; /* Increased padding */
  font-size: 1.5rem; /* Increased font size */
  cursor: pointer;
  background-color: #2a69a8; /* Bootstrap primary button color */
  color: white;
  text-decoration: none; /* Removes underline from links */
  border: none;
  border-radius: 8px; /* More rounded button edges */
  transition: background-color 0.3s ease; /* Smooth background color change */
}

.submit-report-button:hover, .submit-report-button:focus {
  background-color: #0056b3; /* Darker shade for hover/focus */
}
