body {
  background-color: #62757B; /* Updated background color for a modern look */
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.report-container {
  background-color: rgba(255,255,255,0.9);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 50px auto;
  transition: all 0.3s ease;
}

h1 {
  text-align: center;
  color: #212529; /* Dark grey for better readability */
  margin-bottom: 30px; /* Added space below the title */
  font-weight: bold;
}

.drag-image {
  text-align: center;
  margin-bottom: 30px;
}

.upload-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #454545; /* Modern blue gradient */
  color: #ffffff;
  border-radius: 30px; /* Rounded edges */
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-color: #454545;
  font-size: 16px; /* Larger font for readability */
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

.upload-button:hover, button:hover {
  background-color: #696969; /* Slightly darker shade on hover */

}

#fileInput {
  display: none;
}

#fileNames {
  display: inline-block;
  margin-top: 10px;
  color: #333; /* Dark grey color for file names */
}

#textInput {
  width: calc(100% - 20px);
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: 1px solid #696969; /* Light grey border */
  font-size: 16px; /* Larger font for readability */
  transition: border-color 0.3s ease;
}

#textInput:focus {
  border-color: #696969; /* Highlighted border when focused */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); /* Glowing effect */
}

button {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #454545;
  color: #ffffff;
  border: none;
  border-radius: 30px; /* Rounded edges */
  cursor: pointer;
  font-size: 18px; /* Larger font for readability */
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

button:focus {
  outline: none; /* Remove outline on focus */
}
