body {
    background-color: #62757B; /* Light gray background for a softer look */
}
.container {
    padding-top: 2rem; /* Adds some space on the top */
    padding-bottom: 2rem; /* Adds padding on the bottom */
}
.list-group-item {
    transition: transform .2s; /* Animation for hover effect */
}
.list-group-item:hover {
    transform: scale(1.01); /* Slightly scale up list items on hover */
    background-color: #e9ecef; /* Lighter background on hover */
}
/* Align status to the right */
.status-column {
    text-align: right;
}