{% load django_bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %} {%if user.is_authenticated %}
<nav>
  <div class="d-flex mt-2">
    <div class="d-flex ms-2 mt-10">
      <a href="/" class="btn btn-primary">Home</a>
    </div>
    <div class="d-flex ms-auto me-2">
      <a href="/logout" class="btn btn-primary">Logout</a>
    </div>
  </div>
</nav>
{% else %}
<nav>
  <div class="d-flex mt-2">
    <div class="d-flex ms-2 mt-10" >
      <a href="/" class="btn btn-primary">Home</a>
    </div>
    <div class="d-flex ms-auto me-2">
      <a href="/login" class="btn btn-primary">Login</a>
    </div>
  </div>
</nav>
{% endif %}
